.ress{
    margin-top: 25px;
}
.Ass{
    background-color:  rgb(231, 226, 226);
    text-align: center;
    height: 70px;
    margin-top: 50px;
    padding-top: 10px;
    color:white;
   
}
.fyy{
    width: 100%;
    height: 25%;
    background-color:rgb(231, 226, 226); ;
    margin-top: 75px;
    height: 300px;
    text-align: center;
}
.sss{
    padding-top: 50px;
    padding-bottom: 50px;

}
.sdf{
    
   padding-top: 25px;
   /* padding-bottom: 25px; */
}
.sdf form input{
    width: 490px;
    height: 48px;
    border: 1px solid red;
    border-radius: 5px;

}
footer{
    background-color:rgb(231, 226, 226); ;
}
