*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: black;
}
html{
    font-family: "Open Sans",sans-serif;
}
#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
} 
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}
#navbar ul li a{
    padding: 0.5rem;
}
#navbar ul li a{
background-color: rgb(240, 230, 230);
border-radius: 4px;

}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid rgb(240, 230, 230);
   
}
#anasayfaresim{
    background-color: aqua;
    width: auto;
    height: auto;
}
#anasayfaresim img{
    margin: 50px ;
    /* ---------------------------------------------- */
}
